{% assign parentCompanyId = user.parentcustomerid.id %}
{% if parentCompanyId %}
{% assign company = entities['account'][parentCompanyId] %}
{{ company.cid_cidcompanystatus }}
{% if company.cid_cidcompanystatus  and company.cid_cidcompanystatus.value == 100000005 and (request.url contains "tdgcore-qa" or request.url contains "rd-tdgcore-dev")%}
<script>
  window.location.replace('/company_dashboard');
</script>
{% endif %}
{% endif %}
{% include 'RegistrationWizardsWebTemplate'%}<br>{% webform name: 'CompanyRegistrationWizard' %}{% include 'entity_list' key: '' %}