{% extends "Layout 2 Column Wide Right" %}
{% block aside %}
<div class="hidden-xs hidden-print">
    {% include "Side Navigation" depth_offset: 1 %}

</div>
{% endblock %}

{% block right_aside %}
  {% assign parentid = user.parentcustomerid.id %}
  {% fetchxml accountFetch %}
  <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
    <entity name="account">
      <attribute name="name" />
      <attribute name="address1_composite" />
      <attribute name="address1_city" />
      <attribute name="address1_stateorprovince" />
      <attribute name="cid_siteclaim" />
      <attribute name="accountid" />
      <order attribute="name" descending="false" />
      <filter type="and">
        <condition attribute="customertypecode" operator="eq" value="948010001" />
        <condition attribute="parentaccountid" operator="eq" value="{{ parentid }}" />
      </filter>
    </entity>
  </fetch>
  {% endfetchxml %}
  <div>
    <div id="ll" class="loader"></div>
    <div class="view-toolbar grid-actions clearfix">
      <div class="pull-right toolbar-actions">
        <div class="input-group pull-left">
          <a href="/registration/Manage-Sites/Create-Site/?refentity=account&amp;refid={{ parentid }}&amp;refrel=account_parent_account&amp;refrelrole=Referenced" role="link" class="btn btn-primary pull-right action create-action" title="Create" tabindex="0">
            <span class="fa fa-plus-circle" aria-hidden="true">
</span> Create</a>
        </div>
      </div>
    </div>
    <div class="view-grid" >
      <table  aria-relevant="additions" role="grid" class="table table-striped table-fluid">
        <thead>
          <tr>
            <th class="text-center hidden">Account Id</th>
            <th scope="col" style="width:26.31578947368421%;" class="sort-enabled sort sort-asc" aria-sort="ascending">
              <a href="#" role="button" aria-label="Operating Name" tabindex="0">Operating Name <span class="fa fa-arrow-up" aria-hidden="true">
            </span><span class="sr-only sort-hint"></span></a>
            </th>
            <th scope="col" style="width:17.543859649122805%;" class="sort-enabled">
              <a href="#" role="button" aria-label="Address 1" tabindex="0">Address 1<span class="sr-only sort-hint">. sort descending</span></a>
            </th>
            <th scope="col" style="width:17.543859649122805%;" class="sort-enabled" class="sort-enabled sort sort-asc">
            <a href="#" role="button" aria-label="City" tabindex="0">
            City<span class="sr-only sort-hint">. sort descending</span></a></th>
            <th scope="col" style="width:17.543859649122805%;" class="sort-enabled"><a href="#" role="button" aria-label="State/Province" tabindex="0">State/Province<span class="sr-only sort-hint">. sort descending</span></a></th>
            <th scope="col" style="width:17.543859649122805%;" class="sort-enabled"><a href="#" role="button" aria-label="Site Claim" tabindex="0">Site Claim<span class="sr-only sort-hint">. sort descending</span></a></th>
            <th scope="col" style="width:3.508771929824561%;" class="sort-disabled" aria-label="Actions"><span class="sr-only">Actions</span></th>
          </tr>
        </thead>
        <tbody>
          {% for acc in accountFetch.results.entities %}
          {% assign accountId = acc.accountid %}
          <tr id={{ accountID }}>
            <td class="hidden" contenteditable="true">{{ accountId }}</td>
            <td contenteditable="true" id="{{ accountID }}_name">
              {{ acc.name }}
            </td>
            <td contenteditable="true" id="{{ accountID }}_address1_composite">
              {{ acc.address1_composite }}
            </td>
            <td contenteditable="true" id="{{ accountID }}_address1_city">
              {{ acc.address1_city }}
            </td>
            <td contenteditable="true" id="{{ accountID }}_address1_stateorprovince">
              {{ acc.address1_stateorprovince }}
            </td>
            <td id="{{ accountID }}_cid_siteclaim">
              <select name="{{ accountID }}_claim_list" id="{{ accountID }}_claim_list" onchange='updateclaim(this , "{{ accountId }}")'>
                {% if {{acc.cid_siteclaim.value}}  == null %}
                <option value="-1" selected></option>
                {% else %}
                <option value="-1"></option>
                {% endif %}
                {% if {{acc.cid_siteclaim.value}}  == 0 %}
                <option value="0" selected>My Site Active</option>
                {% else %}
                <option value="0">My Site Active</option>
                {% endif %}
                {% if  {{acc.cid_siteclaim.value}}  == 1 %}
                <option value="1" selected>My site not Active</option>
                {% else %}
                <option value="1">My site not Active</option>
                {% endif %}
                {% if  {{acc.cid_siteclaim.value}}  == 2 %}
                <option value="2" selected>Not My site</option>
                {% else %}
                <option value="2">Not My site</option>
                {% endif %}
              </select>
            </td>
            <td aria-label="action menu">
              <div class="dropdown action">
                <a class="details-link" role="menuitem" tabindex="-1" href="/registration/Manage-Sites/Edit-Site/?id={{ accountID }}&amp;refentity=account&amp;refid=" + parentid + "&amp;refrel=account_parent_account&amp;refrelrole=Referenced" title="View details" aria-setsize="4" aria-posinset="1">
                  <span class="fa fa-info-circle fa-fw" ></span> View details</a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <link href="/bootstrap.min.css" rel="stylesheet">
  <link href="https://content.powerapps.com/resource/powerappsportal/dist/preform.bundle-b2e8a2143a.css" rel="stylesheet">
  <link href="/css/glyphicons-font-awesome-migrate.min.css" rel="stylesheet">
  <style>
    .loader {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 30px;
      margin-top: -15px;
      margin-left: -15px;
      border-radius: 50%;
      border: 1px solid #ccc;
      border-top-color: #07d;
      animation: spinner .6s linear infinite;
    }
    @keyframes spinner {
      to {
        transform: rotate(360deg);
      }
    }
  </style>
  <script language="javascript">
    $(document).ready(function() {});
    $(window).load(function() {
      $('#ll').hide();
    });
    function updateclaim(listcontrol, id) {
      $('#ll').show();
      alert("update process started");
      Updateclaim(id, listcontrol.value);
    }
    //Web API ajax wrapper
    (function(webapi, $) {
      function safeAjax(ajaxOptions) {
        var deferredAjax = $.Deferred();
        shell.getTokenDeferred().done(function(token) {
          // Add headers for ajax
          if (!ajaxOptions.headers) {
            $.extend(ajaxOptions, {
              headers: {
                "__RequestVerificationToken": token
              }
            });
          } else {
            ajaxOptions.headers["__RequestVerificationToken"] = token;
          }
          $.ajax(ajaxOptions)
            .done(function(data, textStatus, jqXHR) {
              validateLoginSession(data, textStatus, jqXHR, deferredAjax.resolve);
            }).fail(deferredAjax.reject); //ajax
        }).fail(function() {
          deferredAjax.rejectWith(this, arguments); // On token failure pass the token ajax and args
        });
        return deferredAjax.promise();
      }
      webapi.safeAjax = safeAjax;
    })(window.webapi = window.webapi || {}, jQuery)
    function Updateclaim(accountId, newoption) {
      webapi.safeAjax({
        type: "PATCH",
        url: "/_api/accounts(" + accountId + ")",
        contentType: "application/json",
        data: JSON.stringify({
          "cid_siteclaim": newoption
        }),
        success: function(res) {
          alert("The record has been updated successfully.");
          $('#ll').hide();
        },
        error: function() {
          $('#ll').hide();
          //   $("#loader").style.display = "none";
        }
      });
    }
  </script>
  <script type="text/javascript" src="~/tdgcore_common.js" ></script>
  {% endblock %}