<div class="container">
  <div class="container">
    {% block breadcrumbs %}
      {% include 'Breadcrumbs' %}
    {% endblock %}
  {% block title %}
    {% include 'Page Header' %}
  {% endblock %}
 </div>
 <div id="mainContent" class="row">
  <div class="col-md-12">
   {% block main %}
    {% include 'Page Copy' %}
   {% endblock %}
  </div>
 </div>
</div>

<script type="text/javascript" src="~/tdgcore_message.js" ></script>

<script type="text/javascript" src="~/tdgcore_message.js"></script>

<script>
var title = tdg.error_message.message("m000200");
    var ctl = $('#cdts-signout-btn').tooltip()[0];
    ctl.title = title;
</script>
	