<div id="loader"></div>
<div>
  <script>
    $('#loader').show();
  </script>
  {% assign parentCompanyId = user.parentcustomerid.id %}
  {% if parentCompanyId %}
  {% assign company = entities['account'][parentCompanyId] %}
  {% if company.cid_cidcompanystatus and company.cid_cidcompanystatus.value == 100000005 and (request.url contains "tdgcore-qa" or request.url contains "rd-tdgcore-devv")%}
  <h2>You will be redirected to the company dashboard page.</h2>
  <h2>Please wait ...</h2>
  <script>
    window.location.replace('/company_dashboard');
  </script>
  {% else %}
  <h2>You will be redirected to the company registartion page.</h2>
  <h2>Please wait ...</h2>
  <script>
    window.location.replace('/RegistrationWizard');
  </script>
  {% endif %}
  {% else %}
  You will be redirected to the company registartion page.
  Please wait ...
  <script>
    window.location.replace('/RegistrationWizard');
  </script>
  {% endif %}
  <script>
    $('#loader').hide();
  </script>
</div>