{% assign currentDate = now | date: "yyyyMMddHHmmss" %}<br>
{% entityform name: 'Company Dashboard' %}<br>
{% assign parentCompanyId = user.parentcustomerid.id %}<br>
{% if parentCompanyId %} {% assign company = entities['account'][parentCompanyId] %}<br>
{% if company.cid_cidcompanystatus.label contains "nactive" %}<br>
<script>
            $('a[href*="deactivate-company"]').addClass("hidden");
        </script> {% else %}<br>
<script>
            $('a[href*="deactivate-company"]').removeClass("hidden");
        </script> {% endif %}<br>
{% endif %}<br>
{% fetchxml result %}<br>
<fetch distinct="false" mapping="logical" output-format="xml-platform" version="1.0"> <entity name="account"> <attribute name="accountid"></attribute> <attribute name="cid_companyanniversarydate"></attribute> <attribute name="statecode"></attribute> <attribute name="createdon"></attribute> <filter type="and"> <condition attribute="statecode" operator="eq" value="0"></condition> <condition attribute="accountid" operator="eq" value="{{ user.parentcustomerid.id }}"></condition> <condition attribute="name" operator="ne" value="' | append: {{ currentDate }} | append: '"></condition> </filter> </entity> </fetch> {% endfetchxml %}<br>
<input id="companyAnniversaryDate" name="companyAnniversaryDate" type="hidden" value="{{ result.results.entities[0].cid_companyanniversarydate }}">

