
<style>
    #processingMsg {
        width: 300px;
        text-align: center;
        padding: 6px 10px;
        z-index: 9999;
        top: 15%;
        left: 40%;
        position: fixed;
        -webkit-border-radius: 0 0 2px 2px;
        border-radius: 0 0 2px 2px;
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
</style>
{% assign parentid = user.parentcustomerid.id %}
{% fetchxml environment_settings %}
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
    <entity name="qm_environmentsettings">
        <attribute name="qm_environmentsettingsid" />
        <attribute name="qm_name" />
        <attribute name="createdon" />
        <attribute name="qm_value" />
        <order attribute="qm_name" descending="false" />
        <filter type="and">
            <condition attribute="qm_name" operator="like" value="%CID[_]%" />
        </filter>
    </entity>
</fetch>
{% endfetchxml %}
{% for env_setting in environment_settings.results.entities %}
{% if {{env_setting.qm_name}}  == 'CID_Upload_Excel_Flow' %}
{% assign excelload_Flow_URL = env_setting.qm_value %}
{% endif %}
{% if {{env_setting.qm_name}}  == 'CID_Bulk_Upload' %}
{% assign Bulk_flow_URL = env_setting.qm_value %}
{% endif %}

{% if {{env_setting.qm_name}}  == 'CID_Download_Template_Flow' %}
{% assign download_flow_URL = env_setting.qm_value %}
{% endif %}


{% endfor %}

<script>
  $(document).ready( function() {

$("div.actions").append("<input type='button' id='btn_attachfile_and_scan' name='btn_attachfile_and_scan' value='Scan and Upload' class='submit-btn btn btn-primary form-action-container-left' />");
    $(window).load(function() {

  $("#InsertButton").css("display", "none");

//InsertButton
    //  $('#ll').hide();
        //  notificationMsg.show("System is downloading site info ...");

    });
   // var pageURL = window.location.href;

$('#btn_attachfile_and_scan').click(function(e)
{
    $("#mainContent").before("<div class='validation' style='color:black;margin-bottom: 20px;'>File is sent for scaning</div>");
    var DocumentbodyContents;
  // Get the name of the selected file
    var FileName = $('#AttachFile')[0].files[0].name;

    // Get the mime type of the selected file

    var MimeType = $('#AttachFile')[0].files[0].type;


    // Get the content of the selected file

    var file = document.getElementById('AttachFile').files[0];

    if (file) {

        $('#processingMsg').css('display', 'block');
        $('#processingMsg').text("File is sent for scanning please wait");
        // Read the file

        var reader = new FileReader();

        reader.readAsDataURL(file);

        // The browser has finished reading the file, we can now do something with it...

        reader.onload = function (e) {

            // The browser has finished reading the file, we can now do something with it...

            DocumentbodyContents = e.target.result;

            // Split the string at the first comma (removing the base64 prefix)

            DocumentbodyContents = DocumentbodyContents.substring(DocumentbodyContents.indexOf(',') + 1);


            var Scan_API_URL = "https://prod-02.canadacentral.logic.azure.com:443/workflows/9c5deab59bdb45739dc659748c59b1a1/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ZDI2-YxUhNZkKvpXe7R7Cs_y8J5gGtcB6ZT-y5EAMok";
           // var c = String.raw `X5O!P%@AP[4\PZX54(P^)7CC)7}$EICAR-STANDARD-ANTIVIRUS-TEST-FILE!$H+H*`;


          //  Call_Virsu_Scan_API(Scan_API_URL
            // ,btoa(c));
           // ,DocumentbodyContents);


           // fetch_getScanResult();

            var data = "X5O!P%@AP[4\\PZX54(P^)7CC)7}$EICAR-STANDARD-ANTIVIRUS-TEST-FILE!$H+H*";

              //calladdresscomplete();
var Source_scanapiurl = "https://wwwapps.tc.gc.ca/Saf-Sec-Sur/13/MTAPI/api/v1/file-scan-status?filename=test";
        var xhr = new XMLHttpRequest();

const options = {
    uri: Source_scanapiurl, /* Set url here. */
    body: data,
    headers: {
        'Content-Type': 'application/octet-stream'
    }
};


            xhr.post(options, (error, response, body) => {
                if (error) {
                    console.log('Error: ', error);
                    alert(error);
                    return;
                }
                else {
                    alert(response);
                }

            });



        }//end loader
    }//end if file
        else
        {
alert ("Please select file first");
           // $("#AttachFile").after("<div class='validation' style='color:red;margin-bottom: 20px;'>Please select file</div>");
//$('#processingMsg').css('display','block');
//$('#processingMsg').text("Please Select File First");

        }



//btoa(c) );


});

//alert(DocumentbodyContents);
//e.preventDefault();


//var DownloadURL = "~/RD_Sites_Template.xlsm";
    //var linktemplate = document.getElementById("linkdownload");
    //linktemplate.href = DownloadURL;
    //linktemplate.download = "RD_Sites_Template.xlsx";
    $('#linkdownload').on('click', async function() {

          $('#processingMsg').css('display','block');
        $('#processingMsg').text('System is downloading site info ...');

     // notificationMsg.show("System is downloading site info ...");

     // $('#ll').show();
      var companyid = '{{parentid}}';


      var acupdate =
        '{ "accountid": "' + companyid + '" }';


      var req = new XMLHttpRequest();

      var url = '{{download_flow_URL}}';
      console.log(url);
      //"https://prod-17.canadacentral.logic.azure.com:443/workflows/900f6e70915a4cddbb65b3c79da14581/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=LZveFQ8DXIDobQOPzgoc0LgOcSOPpqVcnCEicN1lvEQ";
      req.open("POST", url, true);
      req.setRequestHeader('Content-Type', 'application/json');
      req.onreadystatechange = function() {
        if (this.readyState === 4) {
          req.onreadystatechange = null;
          if (this.status === 200) {
               $('#processingMsg').text("Download complete");
            var result = this.response;
           // $('#ll').hide();
            //https://rd-tdgcore-dev.powerappsportals.com/_entity/annotation/
            var fileattachementURL = "~/_entity/annotation/" + result;
            window.location.replace(fileattachementURL);
             $("#processingMsg").css("display", "none");
            $("#processingMsg").hide();
          } else {
              $('#processingMsg').text("Download was not completed due to system issue, please contact system support");
            var result = this.response;
            alert("Error " + result);
          }
        }
      }
      req.send(acupdate);
    });

});//end document ready





   // Notification component
    var notificationMsg = (function () {
        var $processingMsgEl = $('#processingMsg'),
            _msg = 'Processing...',
            _stack = 0,
            _endTimeout;
        return {
            show: function (msg) {

                $processingMsgEl.text(msg || _msg);
                if (_stack === 0) {
                    clearTimeout(_endTimeout);
                    $processingMsgEl.show();
                }
                _stack++;
            },
            hide: function () {
                _stack--;
                if (_stack <= 0) {
                    _stack = 0;
                    clearTimeout(_endTimeout);
                    _endTimeout = setTimeout(function () {
                        $processingMsgEl.hide();
                    }, 500);
                }
            }
        }
    })();


function Call_Virsu_Scan_API(url, fileContent)
{
  $("#processingMsg").css("display", "block");
          $('#processingMsg').text("file is sent for scanning please wait...");
  var acupdate =
        '{"FileContent" :"' + fileContent  + '" }';

         // '{ "accountid": "' + companyid + '" }';
      var req = new XMLHttpRequest();


      console.log(url);
      //"https://prod-17.canadacentral.logic.azure.com:443/workflows/900f6e70915a4cddbb65b3c79da14581/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=LZveFQ8DXIDobQOPzgoc0LgOcSOPpqVcnCEicN1lvEQ";
      req.open("POST", url, true);
      req.setRequestHeader('Content-Type', 'application/json');
      req.onreadystatechange = function() {
        if (this.readyState === 4) {
          req.onreadystatechange = null;
          if (this.status === 200) {
             //  $('#processingMsg').text(this.response);

            var result = this.response;
         if (result.toLowerCase().trim() == "false")
         {
              $("#InsertButton").click();

         }
         else
         {
             alert("File did not pass scanning");
         }

             $("#processingMsg").css("display", "none");
            $("#processingMsg").hide();
          } else {
              $('#processingMsg').text("Error Please Try again Later.");
            var result = this.response;
            alert("Error " + result);
          }
        }
      }

      req.send(acupdate);
}
const fetch_getScanResult = async () => {

    const myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/octet-stream");
    //myHeaders.append("access-Control-Allow-Origin", "*");

    const raw = "X5O!P%@AP[4\\PZX54(P^)7CC)7}$EICAR-STANDARD-ANTIVIRUS-TEST-FILE!$H+H*";

    const requestOptions = {
        method: 'POST',
        headers: myHeaders,
        body: raw,
        redirect: 'follow'
    };

    let repsponse = await fetch("https://wwwapps.tc.gc.ca/Saf-Sec-Sur/13/MTAPI/api/v1/file-scan-status?filename=test", requestOptions);
      //  .then(response => response.text())
       // .then(result => console.log(result))
        //.catch(error => console.log('error', error));
    if (response.status === 200) {
        console.log(await response.text());
        alert(await response.text());
    }
}

function calladdresscomplete() {
            alert("started");
            var url = 'https://ws1.postescanada-canadapost.ca/AddressComplete/Interactive/Find/v2.10/json3.ws';
            var params = '';
            params += "&Key=" + encodeURIComponent("MM95-DM44-MP35-XM79");
            params += "&SearchTerm=" + encodeURIComponent("675 holly avenue");
         //   params += "&LastId=" + encodeURIComponent(LastId);
           // params += "&SearchFor=" + encodeURIComponent("675 holly avenue , milton Ontario");
            params += "&Country=" + encodeURIComponent("CAN");
            params += "&LanguagePreference=" + encodeURIComponent("en");
           // params += "&MaxSuggestions=" + encodeURIComponent(7);
            params += "&MaxResults=" + encodeURIComponent(7);
            var http = new XMLHttpRequest();
            http.open('POST', url, true);
            http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            http.onreadystatechange = function () {

                if (http.readyState == 4 && http.status == 200) {

                    var response = JSON.parse(http.responseText);
                    // Test for an error
                    if (response.Items.length == 1 && typeof (response.Items[0].Error) != "undefined") {
                        // Show the error message
                        alert(response.Items[0].Description);
                    }
                    else {
                        // Check if there were any items found
                        if (response.Items.length == 0)
                            alert("Sorry, there were no results");
                        else {
                            alert(response.Items.length);
                            alert("else " + response.Items[0].Id);
                            alert("else " + response.Items[0].Text);
                            alert("else " + response.Items[0].Description);
                            // PUT YOUR CODE HERE
                            //FYI: The output is an array of key value pairs (e.g. response.Items[0].Id), the keys being:
                            //Id
                            //Text
                            //Highlight
                            //Cursor
                            //Description
                            //Next
                        }
                    }
                }
            }
            http.send(params);
            alert("sent");
        }


</script>
<div class="container">
    <div class="container">
        {% block breadcrumbs %}
        {% include 'Breadcrumbs' %}
        {% endblock %}
        {% block title %}
        {% include 'Page Header' %}
        {% endblock %}
    </div>

    <div id="mainContent" class="row">

        <div class="col-md-12">
            {% block main %}

            {% include 'Page Copy' %}

            <div class="row sectionBlockLayout" style="display: flex; flex-wrap: wrap; padding: 8px; margin: 0px; text-align: left; min-height: 100px;">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    <div>
                                        <h3 class="blue_border">Step 1: Download Bulk upload Template.</h3>
                                        <p> </p>
                                    </div>
                                    <div><button type="button" id="linkdownload" class="submit-btn btn btn-primary form-action-container-left">Download</button></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <p></p>
                                    <h3 class="blue_border">Step 2: Upload file.</h3>{% entityform name: 'Add Bulk site attachment' %}
                                </div>
                                <div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <p></p>
                    <h2 class="blue_border">List of Sites</h2>{% include 'entity_list' key: 'Parent company site list' %}
                </div>
                <div role="alert" class="alert alert-warning" style="width: 300px; text-align: center; padding-top: 6px; padding-right: 10px; padding-bottom: 6px; padding-left: 10px; z-index: 9999; top: 15%; left: 40%; position: fixed; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px; display: none;">system is downloading file</div>
            </div>



            {% endblock %}


        </div>
    </div>
</div>