 <style>
    #processingMsg {
        width: 300px;
        text-align: center;
        padding: 6px 10px;
        z-index: 9999;
        top: 15%;
        left: 40%;
        position: fixed;
        -webkit-border-radius: 0 0 2px 2px;
        border-radius: 0 0 2px 2px;
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      display:none;
    }
  
</style>
{% assign parentid = user.parentcustomerid.id %}
{% fetchxml environment_settings %}
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
  <entity name="qm_environmentsettings">
    <attribute name="qm_environmentsettingsid" />
    <attribute name="qm_name" />
    <attribute name="createdon" />
    <attribute name="qm_value" />
    <order attribute="qm_name" descending="false" />
    <filter type="and">
      <condition attribute="qm_name" operator="like" value="%CID[_]%" />
    </filter>
  </entity>
</fetch>
{% endfetchxml %}
{% for env_setting in environment_settings.results.entities %}
{% if {{env_setting.qm_name}}  == 'CID_Upload_Excel_Flow' %}
{% assign excelload_Flow_URL = env_setting.qm_value %}
{% endif %}
{% if {{env_setting.qm_name}}  == 'CID_Bulk_Upload' %}
{% assign Bulk_flow_URL = env_setting.qm_value %}
{% endif %}

{% if {{env_setting.qm_name}}  == 'CID_Download_Template_Flow' %}
{% assign download_flow_URL = env_setting.qm_value %}
{% endif %}


{% endfor %}

<script>
  $(document).ready(function() {
    $(window).load(function() {
      
    //  $('#ll').hide();
        //  notificationMsg.show("System is downloading site info ...");
            $("#processingMsg").css("display", "none");
            $("#processingMsg").hide();
    });
    var pageURL = window.location.href;
 $("div.actions").append("<input type='button' id='btn_attachfile_and_scan' name='btn_attachfile_and_scan' value='Save &amp; Validate' class='submit-btn btn btn-primary form-action-container-left' />");

$('#btn_attachfile_and_scan').click(function(e) 
{
  
  // Get the name of the selected file
    var FileName = $('#AttachFile')[0].files[0].name;
   
    // Get the mime type of the selected file

    var MimeType = $('#AttachFile')[0].files[0].type;

    // Get the content of the selected file

    var file = document.getElementById('AttachFile').files[0];
  
  if (file) {

            // Read the file

            var reader = new FileReader();

            reader.readAsDataURL(file);

            // The browser has finished reading the file, we can now do something with it...

            reader.onload = function (e) {

                // The browser has finished reading the file, we can now do something with it...

                var DocumentbodyContents = e.target.result;

                // Split the string at the first comma (removing the base64 prefix)

                DocumentbodyContents = DocumentbodyContents.substring(DocumentbodyContents.indexOf(',') + 1);

alert(DocumentbodyContents);

            };

        }

e.preventDefault();
});

    //var DownloadURL = "~/RD_Sites_Template.xlsm";
    //var linktemplate = document.getElementById("linkdownload");
    //linktemplate.href = DownloadURL;
    //linktemplate.download = "RD_Sites_Template.xlsx";
    $('#linkdownload').on('click', async function() {
          $('#processingMsg').css('display','block');
        $('#processingMsg').text('System is downloading site info ...');
        
     // notificationMsg.show("System is downloading site info ...");
     
     // $('#ll').show();
      var companyid = '{{parentid}}';

    
      var acupdate =
        '{ "accountid": "' + companyid + '" }';
      var req = new XMLHttpRequest();
    
      var url = '{{download_flow_URL}}';
      console.log(url);
      //"https://prod-17.canadacentral.logic.azure.com:443/workflows/900f6e70915a4cddbb65b3c79da14581/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=LZveFQ8DXIDobQOPzgoc0LgOcSOPpqVcnCEicN1lvEQ";
      req.open("POST", url, true);
      req.setRequestHeader('Content-Type', 'application/json');
      req.onreadystatechange = function() {
        if (this.readyState === 4) {
          req.onreadystatechange = null;
          if (this.status === 200) {
               $('#processingMsg').text("Download complete");
            var result = this.response;
           // $('#ll').hide();
            //https://rd-tdgcore-dev.powerappsportals.com/_entity/annotation/
            var fileattachementURL = "~/_entity/annotation/" + result;
            window.location.replace(fileattachementURL);
             $("#processingMsg").css("display", "none");
            $("#processingMsg").hide();
          } else {
              $('#processingMsg').text("Download was not completed due to system issue, please contact system support");
            var result = this.response;
            alert("Error " + result);
          }
        }
      }
      req.send(acupdate);
    });
  });
  

   // Notification component
    var notificationMsg = (function () {
        var $processingMsgEl = $('#processingMsg'),
            _msg = 'Processing...',
            _stack = 0,
            _endTimeout;
        return {
            show: function (msg) {
             
                $processingMsgEl.text(msg || _msg);
                if (_stack === 0) {
                    clearTimeout(_endTimeout);
                    $processingMsgEl.show();
                }
                _stack++;
            },
            hide: function () {
                _stack--;
                if (_stack <= 0) {
                    _stack = 0;
                    clearTimeout(_endTimeout);
                    _endTimeout = setTimeout(function () {
                        $processingMsgEl.hide();
                    }, 500);
                }
            }
        }
    })();

</script>
<div class="container">
    <div class="container">
        {% block breadcrumbs %}
        {% include 'Breadcrumbs' %}
        {% endblock %}
        {% block title %}
        {% include 'Page Header' %} 
        {% endblock %}
    </div>

    <div id="mainContent" class="row">
      
        <div class="col-md-12">
            {% block main %}
          
   {% include 'Page Copy' %}  

           
      


  {% endblock %}

        
        </div>
    </div>
</div>