<style>

.tool-tip {
  display: inline-block;
}

.tool-tip [disabled] {
  pointer-events: none;
}
    .inputfile {
        /* visibility: hidden etc. wont work */
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

        .inputfile:focus + label {
            /* keyboard navigation */
            outline: 1px dotted #000;
            outline: -webkit-focus-ring-color auto 5px;
        }

        .inputfile + label * {
            pointer-events: none;
        }

    #processingMsg {
        -width: 300px;
        -text-align: center;
        -padding: 6px 10px;
        -z-index: 9999;
        -top: 15%;
        -left: 40%;
        -position: fixed;
        -webkit-border-radius: 0 0 2px 2px;
        -border-radius: 0 0 2px 2px;
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        -box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        display: none;
    }

    #ErrorMessageDiv {
        display: none;
    }

    #infoMsg {
        -width: 300px;
        -text-align: center;
        -padding: 6px 10px;
        -z-index: 9999;
        -top: 15%;
        -left: 40%;
        -position: fixed;
        -webkit-border-radius: 0 0 2px 2px;
        -border-radius: 0 0 2px 2px;
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        -box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        display: none;
    }
</style>

<script type="text/javascript" src="~/tdgcore_common.js" ></script>
<script type="text/javascript" src="~/tdgcore_message.js" ></script>

<script>
	var selected_language = '{{website.selected_language.code}}';
    sessionStorage.setItem("selected_language", selected_language);
</script>

{% assign parentid = user.parentcustomerid.id %}

{% assign contactid = user.id %}
{% assign languagecode = website.selected_language.code %}
{% fetchxml parentaccountrecord %}
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
    <entity name="account">
        <attribute name="name" />
        <attribute name="primarycontactid" />
        <attribute name="telephone1" />
        <attribute name="accountid" />
        <attribute name="cid_cidcompanystatus" />
        <order attribute="name" descending="false" />
        <filter type="and">
            <condition attribute="accountid" operator="eq" value="{{parentid}}" />
        </filter>
    </entity>
</fetch>
{% endfetchxml %}
{% for acc_record in parentaccountrecord.results.entities %}


{% assign companystatus = acc_record['cid_cidcompanystatus'].value %}
{%endfor%}

{% fetchxml environment_settings %}
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
    <entity name="qm_environmentsettings">
        <attribute name="qm_environmentsettingsid" />
        <attribute name="qm_name" />
        <attribute name="createdon" />
        <attribute name="qm_value" />
        <order attribute="qm_name" descending="false" />
        <filter type="and">
            <condition attribute="qm_name" operator="like" value="%CID[_]%" />
        </filter>
    </entity>
</fetch>
{% endfetchxml %}
{% for env_setting in environment_settings.results.entities %}
{% if {{env_setting.qm_name}}  == 'CID_Upload_Excel_Flow' %}
{% assign excelload_Flow_URL = env_setting.qm_value %}
{% endif %}
{% if {{env_setting.qm_name}}  == 'CID_Bulk_Upload' %}
{% assign Bulk_flow_URL = env_setting.qm_value %}
{% endif %}

{% if {{env_setting.qm_name}}  == 'CID_Download_Template_Flow' %}
{% assign download_flow_URL = env_setting.qm_value %}
{% endif %}

{% if {{env_setting.qm_name}}  == 'CID_Flow_FileScan' %}
{% assign Scan_flow_URL = env_setting.qm_value %}
{% endif %}



{% if {{env_setting.qm_name}}  == 'CID_Check_User_Response_To_continue' %}
{% assign CID_Check_User_Response_To_continue = env_setting.qm_value %}
{% endif %}

{% endfor %}
{% if {{languagecode}}  == 'fr' %}
{% assign step1 = 'Étape 1. Téléchargez le modèle Excel personnalisé de téléchargement en masse du site.' %}
{% assign  step2 = 'Étape 2. Téléchargez le classeur Excel personnalisé de téléchargement en masse du site.' %}
{% assign upload = 'Commence le téléchargement' %}
{% assign downloadlableEnglishversion = 'Version anglaise' %}
{% assign downloadlableFrenchVersion = 'Version française' %}
{% assign choosefile = 'Choisir le fichier'  %}
{% else %}
{% assign step1 = 'Step 1. Download the custom Site Bulk Upload Excel template.' %}
{% assign  step2 = 'Step 2. Upload the completed custom Site Bulk Upload Excel workbook.' %}
{% assign choosefile = 'Choose File'  %}
{% assign upload = 'Start Upload' %}
{% assign downloadlableEnglishversion = 'English Version' %}
{% assign downloadlableFrenchVersion = 'French Version' %}
{% endif %}

{% fetchxml UnclaimedSite %}
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false" returntotalrecordcount='true'>
<entity name="account">
<attribute name="parentaccountid"/>
<attribute name="accountid"/>
<attribute name="address1_composite"/>
<attribute name="ovs_accountnameenglish"/>
<order attribute="parentaccountid" descending="false"/>
<filter type="and">
<condition attribute="statuscode" operator="eq" value="1"/>
<filter type="or">
<condition attribute="cid_siteclaim" operator="eq" value="100000003"/>
<condition attribute="cid_siteclaim" operator="null"/>
</filter>
<condition attribute="parentaccountid" operator="eq"  value="{{parentid}}"/>
</filter>
</entity>
</fetch>
{% endfetchxml %}


{% assign UnClaimedSitesResultsize = UnclaimedSite.results.entities.size %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
  $(document).ready( function() {
  //assign number of unclaimed sites
   var NumberOfUnClaimedSites= '{{UnClaimedSitesResultsize}}';

   //get upload button text message
   var UploadButtonText = tdg.error_message.message("m000111");
   console.log(UploadButtonText);
      
      var Page_Partial_URL = '{{page.adx_partialurl}}';
     
      var UploadType = "" ;

      //read all messages in json array
      ReadBulkMessagesFile();
   

    //insert lables and buttons
    $(".section[data-name='General']").closest("fieldset").hide();
    $("#AttachFile").after('<br><label>2B. Start Upload</label><br><button type="button" id="btn_attachfile_and_scan" class="submit-btn btn btn-primary form-action-container-left">{{upload}}</button>');
    $("#AttachFile").before('<div id="Div2A" class="input-group input-group-sm"><div id ="Div_BrowseButton" class="input-group-btn"><label class="submit-btn btn btn-primary form-action-container-left" for="AttachFile">{{choosefile}}</label></div><input type="text" class="form-control" id="uploadFile" placeholder="Select File Name here" disabled="disabled" /></div>');


//insert previous and next button if initial registeration
 if (Page_Partial_URL ==  "Bulk_Site_Upload")
  {

   UploadType = "Initial";
   //add div 
   //$("div.actions")
   //$("#Row_PreviousNextButton").append('<br><div id="DivNavbuttonGroup"  class="col-sm-6 clearfix"> </div>');
   //add previous and next inside the div
   $("#DivNavbuttonGroup").append('<div role="group" class= "btn-group entity-action-button"><span id="Div_Previous_next" class="tool-tip" tabindex="0" data-toggle="tooltip" data-placement="bottom"  > <button type="button" id="btn_Previous" class="btn btn-default button previous previous-btn">Previous</button></span></div>');
   $("#DivNavbuttonGroup").append('<div role="group" class= "btn-group entity-action-button">&nbsp;&nbsp;</div>');
   $("#DivNavbuttonGroup").append('<div role="group" class = "btn-group entity-action-button" > <span id="Div_btn_next" class="tool-tip" tabindex="0" data-toggle="tooltip" data-placement="bottom"  > <button type="button" id="btn_Next" class="submit-btn btn btn-primary form-action-container-left" disabled >Next</button></span></div>');
//class="d-inline-block" tabindex="0" data-toggle="tooltip" 
             //data-placement="bottom" title="This button is disabled
                $('#Div_btn_next').tooltip({
                 trigger: 'hover',
                   placement: 'right',
                   container: 'body',
                   title : "Please first complete the Steps before choosing the [Next] option. Alternatively, choose the [Previous] button to return to the Wizard."
                    });
 
  }
  else
  {
   UploadType = "Update";
  }

    //attach file event
    document.getElementById("AttachFile").onchange = function () {
    
    document.getElementById("uploadFile").value = this.value.replace("C:\\fakepath\\", "");
   };
      //if any unclaimed site is found
    /*  if (NumberOfUnClaimedSites > 0)
      {

          //disable all controls in the form
          $("#Div_BrowseButton").children().attr("disabled","true");
          Div_BrowseButton
          $("#Div_BrowseButton").prop('disabled',true);
          Disable_all_Buttons();
          var   errorMessage  = "Before choose the Bulk option, each Site where 'Is Site Attested' is set to 'No', need to be attested by choosing one of the options via the [V] button at the far right of that row." ;
        
        //show popup message;
       Popup_Message(errorMessage, (ans) => {
                            if (ans) {
                                //window.location.href='~/RegistrationWizard/';
                                 history.back() ;
                                }
                            });
            }*/

//hide form button
 $("#InsertButton").css("display", "none");
    var langcode = '{{languagecode}}'  ;

   //work with attach file transalation
   //can not use out of the box without modification the button lable will not be transalated depens only on OS system language
  var AttachButton = document.getElementById('AttachFile');
  AttachButton.classList.add("inputfile");

//$("#AttachFile").after('<div class="input-group input-group-sm"><div class="input-group-btn"><label class="btn btn-primary" for="AttachFile">'{{ choosefile }}'</label></div><input class="form-control" id="uploadFile" placeholder="File Name here" disabled="disabled" /></div>' );
//$("div.tr").append();

    var BulkActivitytype ='{{companystatus}}';
  
    //intial validation will be executed if this is a redirect call
      call_Inital_validation(langcode , BulkActivitytype);

//upload button click event
$('#btn_attachfile_and_scan').click(function(e)
{

  Disable_all_Buttons();
    //hide validation summary    
    $("Div.validation-summary").css('display', 'none');
    $("Div.alert").css('display', 'none');
  
    if (document.getElementById('AttachFile').files.length == 0)
   {
       // call the submit button to show error message
    $("#InsertButton").click();
            Enable_Button('btn_attachfile_and_scan');
            Enable_Button('linkdownload_English');
            Enable_Button('linkdownload_French');
          
            
   }
   else
   {
   // $("#mainContent").before("<div class='validation' style='color:black;margin-bottom: 20px;'>File is sent for scaning</div>");
    var DocumentbodyContents;
  // Get the name of the selected file
    var FileName = $('#AttachFile')[0].files[0].name;

    // Get the mime type of the selected file
    var MimeType = $('#AttachFile')[0].files[0].type;

    // Get the content of the selected file
    var file = document.getElementById('AttachFile').files[0];

                console.log("file name " + FileName);
                  var langcode = '{{languagecode}}'  ;

    if (MimeType != "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet")
   {
       //get error message in english
       var FileTypeErrorMessage = filter_BulkMessageArray("M2" , "en");
           // check language if not english assign french transation
            if ( langcode != 'en-US' && langcode !="en")
            {
             // responseMessage  =  "<p> Le système CID va maintenant commencer la deuxième des deux séries de validations du fichier en cours de téléchargement. Un e-mail sera envoyé à votre adresse e-mail de " + useremail +"(tel que défini via votre profil utilisateur), indiquant les résultats de la deuxième série de validations et les étapes ultérieures à suivre. <br><br>" +
             //"À ce stade, vous pouvez attendre l'e-mail de notification et passer à l'étape suivante décrite à partir de celui-ci. Alternativement, vous pouvez quitter temporairement le processus d'inscription et le système vous ramènera à l'endroit où vous vous étiez arrêté à votre retour.[B1037]</p>"
           FileTypeErrorMessage = filter_BulkMessageArray("M2" , "fr");
         
            }//end check language
          $('#ErrorMessageDiv').css('display', 'block');
          $('#ErrorMessageDiv').html("<h3>Error</h3> <p>" +  FileTypeErrorMessage + "</p>");
          Enable_Button('btn_attachfile_and_scan');
          Enable_Button('btn_attachfile_and_scan');
            Enable_Button('linkdownload_English');
            Enable_Button('linkdownload_French');
         // call the submit button to show error message
         // $("#InsertButton").click();
        
   }

  else if (file) {
           
       //start reading uploaded file
        var reader = new FileReader();
  
        reader.onload = function(e) {
             try {
            //get data from reader
            var data = e.target.result;
        
                //parese file as excel
                var workbook = XLSX.read(data, {
                    type: 'binary'
                });
                //get number of sheets
                var numberOfSheets = workbook.SheetNames.length;
                //if file is excel at least one excel sheet will be there.
                if (numberOfSheets > 0)
                {
                    //get the scan flow url from fetch xml  stored in liquid variable
                 var Scan_API_URL = '{{Scan_flow_URL}}';
                
                //call antivirus URL
                Call_Virsu_Scan_API(Scan_API_URL
                ,data , BulkActivitytype ,FileName,langcode );
          
                }


               }
            catch (error) {
                    //get error message in english
             var FileTypeErrorMessage = filter_BulkMessageArray("M2" , "en");
           // check language if not english assign french transation
             if ( langcode != 'en-US' && langcode !="en")
             {
                 //get french message
             FileTypeErrorMessage = filter_BulkMessageArray("M2" , "fr");
         
             }//end check language
              //show file type error message
                 $('#ErrorMessageDiv').css('display', 'block');
                 $('#ErrorMessageDiv').html("<h3>Error</h3> <p>" +  FileTypeErrorMessage + "</p>");
           
            }           
          
        };

        reader.readAsBinaryString(file);
      
           //else
           //{

            // Read the file
       // var reader = new FileReader();

      //  reader.readAsDataURL(file);

        // The browser has finished reading the file, we can now do something with it...

      //  reader.onload = function (e) {

            // The browser has finished reading the file, we can now do something with it...

         //   DocumentbodyContents = e.target.result;

            // Split the string at the first comma (removing the base64 prefix)
          //  DocumentbodyContents = DocumentbodyContents.substring(DocumentbodyContents.indexOf(',') + 1);
           // debugger;
         
            //  var Scan_API_URL = '{{Scan_flow_URL}}';
           //   debugger;

          //call antivirus URL
         // Call_Virsu_Scan_API(Scan_API_URL
          //  ,DocumentbodyContents , BulkActivitytype ,FileName,langcode );
          

       // ,btoa(c));
    

        
        // }//end loader
        //}//end else if file content match file type


    }///end if file

   }// end check file length


//btoa(c) );
});

 
$('#linkdownload_English').click(function(e)
{

//.on('click', async function() {
        //check if page for initial registeration
       
        Disable_all_Buttons();
        
        //call download flow to download excel sheet
        Download_ExcelTemplate("English") ;
    });



//download french button
 $('#linkdownload_French').click(function(e)
{

 //.on('click', async function() {

 //check if page for initial registeration
       
          Disable_all_Buttons();
        
      //call download flow to download excel sheet
       Download_ExcelTemplate("French") ;
    });


//next button click event
 $('#btn_Previous').on('click', async function() {
    //go previous page
    history.back()
  });


  //next button click event
 $('#btn_Next').on('click', async function() {
    //go to registeration wizard
  window.location.href='~/RegistrationWizard/';
  });
    
});//end document ready

function Call_Check_User_Response_flow(activityid , UserResponse , Logdetaisls , Lang , Logwarrning , Warnningdetails)
{
    var useremail = '{{user.emailaddress1}}';
 var url = '{{CID_Check_User_Response_To_continue}}' ;

  var acupdate =
  ' { "activityid":"' + activityid  + '", "user_reponse":"' + UserResponse +'", "Log_details": "' +Logdetaisls + '","Lang":"' + Lang+ '" , "LogWarningYN" : "' + Logwarrning + '" , "WarrningDetails": "' + Warnningdetails + '" }' ;


      var req = new XMLHttpRequest();
      req.open("POST", url, true);
      req.setRequestHeader('Content-Type', 'application/json');
      req.onreadystatechange = function() {
        if (this.readyState === 4) {
          req.onreadystatechange = null;
          if (this.status === 200) {
            

            var result = this.response;
            var responseMessage ;
         if (UserResponse == 'yes')
         {

              var emailaddress1 = '{{user.emailaddress1}}' ;

             //responseMessage  = "<p>The CID system will now begin the second of two sets of validations of the file being uploaded. An email will be sent to your email address of " + useremail + " (as set via your user profile), indicating the results the second set of validations and the subsequent steps to take. <br><br>" +
            // "At this point you can wait for the notification email and proceed with the next step described from within it. Alternatively, you can leave the Registration process temporarily and the system will return you to the spot where you left off when you return.[B1037]  </p>"
          
          responseMessage = filter_BulkMessageArray("M14" , "en").replace("{0}" , emailaddress1);
          
            if ( Lang != 'en-US' && Lang !="en")
            {
             
           responseMessage = filter_BulkMessageArray("M14" , "fr").replace("{0}" , emailaddress1);
           
            }
            
          
          console.log(responseMessage);
           responseMessage.replace('{0}' , emailaddress1);

            Enabled_all_Buttons();

         }
         else{
             responseMessage="<p>Initial request for Bulk Upload is now complete based on an early cancellation. <br>" +
"The original request to bulk upload sites is cancelled. Please proceed with the remainder of the Registration process.</p>";
             if ( Lang != 'en-US' & Lang != 'en' )
            {
                 responseMessage="<p>La demande initiale de transfert groupé est maintenant terminée en raison d'une annulation anticipée. <br>" +
"La demande initiale de sites de téléchargement groupé est annulée. Veuillez poursuivre le reste du processus d'inscription.</p>";

            }

         }

               $('#infoMsg').css('display', 'block');
               $('#infoMsg').html( responseMessage);

               Enable_Button('btn_attachfile_and_scan');
            Enable_Button('linkdownload_English');
            Enable_Button('linkdownload_French');


         }
         else {
              $('#processingMsg').text("Error Please Try again Later.");
            var result = this.response;
          Enable_Button('btn_attachfile_and_scan');
            Enable_Button('linkdownload_English');
            Enable_Button('linkdownload_French');
           
          }
        }
      }

      req.send(acupdate);

}


function Call_Virsu_Scan_API(url, fileContent, activitytype , excelfilename , language)
{
console.log ("inside scan api function");
var companyid = '{{parentid}}';
var contactid = '{{contactid}}';


var scanningMessage = "<p>Uploading and processing the Site Bulk Upload Excel workbook.  Please wait a moment...</p>";
if ( language != 'en-US'&& language != 'en')
   {
        scanningMessage ="Téléchargement et traitement du classeur Excel de téléchargement en masse du site. Patientez s'il-vous-plait...";
    }
      $('#infoMsg').css('display', 'block');
        $('#infoMsg').html(scanningMessage);

  var acupdate =
        '{"FileContent" :"' + btoa(fileContent)  + '", "CompanyId" : "' + companyid + '" , "ActionedBy" :"' + contactid +  '", "ActivityType" : "'+ activitytype +'" ,"ExcelFileName" : "' + excelfilename + '" , "Lang" : "' + language + '" }';


      var req = new XMLHttpRequest();
      req.open("POST", url, true);
      req.setRequestHeader('Content-Type', 'application/json');
      req.onreadystatechange = function() {
        if (this.readyState === 4) {
          req.onreadystatechange = null;
          if (this.status === 200) {
             //  $('#processingMsg').text(this.response);

            var result = this.response;

         if (result.toLowerCase().trim() == "allowed")
         {

               $('#infoMsg').css('display', 'block');
               $('#infoMsg').html("<p>Uploading and processing the Site Bulk Upload Excel workbook.  Please wait a moment...</p>");
              $("#InsertButton").click();

         }
         else
         {
             $("#processingMsg").css("display", "none");
              var ErrorMessage_fileScan = filter_BulkMessageArray("M3" , "en");
           // check language if not english assign french transation
            if ( language != 'en-US' && language !="en")
            {
             // responseMessage  =  "<p> Le système CID va maintenant commencer la deuxième des deux séries de validations du fichier en cours de téléchargement. Un e-mail sera envoyé à votre adresse e-mail de " + useremail +"(tel que défini via votre profil utilisateur), indiquant les résultats de la deuxième série de validations et les étapes ultérieures à suivre. <br><br>" +
             //"À ce stade, vous pouvez attendre l'e-mail de notification et passer à l'étape suivante décrite à partir de celui-ci. Alternativement, vous pouvez quitter temporairement le processus d'inscription et le système vous ramènera à l'endroit où vous vous étiez arrêté à votre retour.[B1037]</p>"
           ErrorMessage_fileScan = filter_BulkMessageArray("M3" , "fr");
         
            }//end check language
          $('#ErrorMessageDiv').css('display', 'block');
          $('#ErrorMessageDiv').html("<h3>Error</h3> <p>" +  ErrorMessage_fileScan + "</p>");
          //Enabled_all_Buttons();
            Enable_Button('btn_attachfile_and_scan');
            Enable_Button('linkdownload_English');
            Enable_Button('linkdownload_French');
       
         }

           //  $("#infoMsg").css("display", "none");

          } else {
              $('#processingMsg').text("Error Please Try again Later.");
            var result = this.response;
            console.log (this.response);
            debugger;
           // alert("Error " + result);
          }
        }
      }

      req.send(acupdate);
}


function call_Inital_validation(Language , bulkactivitytype)
{

  var URLs = new URLSearchParams(window.location.search);

        var URLs = new URLSearchParams(window.location.search);

      //  var newrecordid = URLs.get('id');
        var companyid = URLs.get('companyid');
        var newrecordid = URLs.get('id');
      //  var companyid = URLs.get('companyid');
        var companyname = '{{ user.parentcustomerid.Name }}';
     if  ( companyid != null  )
       {

      //document.getElementById("content").innerHTML = response.html;
      
        Disable_all_Buttons();

        var urlPath = window.location.href;
        urlPath = urlPath.split('?')[0];
        window.history.replaceState({}, document.title, urlPath);


        var IntialvalidationBegunMessage = "<p>Uploading and processing the Site Bulk Upload Excel workbook.  Please wait a moment...</p>";
        //"<p>Preliminary analysis of the uploaded workbook has begun…</p>" ;
        if ( Language != 'en-US' && Language != 'en')
        {
            IntialvalidationBegunMessage = "<p>Téléchargement et traitement du classeur Excel de téléchargement en masse du site. Patientez s'il-vous-plait...</p>";
            //"<p>L'analyse préliminaire du classeur téléchargé a commencé…</p>";

        }

         $('#infoMsg').css('display', 'block');
        $('#infoMsg').html(IntialvalidationBegunMessage);

         var Page_Partial_URL = '{{page.adx_partialurl}}';
         var UploadType = "" ;
         if (Page_Partial_URL ==  "Bulk_Site_Upload")
         {
              UploadType = "Initial";
              }
        else
         {

         UploadType = "Update";
         }

        console.log ("upload type : ") ;
        console.log(UploadType);
        var acupdate =
            '{ "activityid":"' + newrecordid + '" , "name": "'+ companyname +'", "accountid": "' + companyid + '" , "Lang" : "' + Language + '" ,"ActivityType" : "' + UploadType +  '" }';

        var req = new XMLHttpRequest();
        var url = '{{excelload_Flow_URL}}';


        req.open("POST", url, true);
        req.setRequestHeader('Content-Type', 'application/json');

        req.onreadystatechange = function () {

            if (this.readyState === 4) {

                req.onreadystatechange = null;
                  $('#infoMsg').css('display', 'none');
                if (this.status === 200) {
                    var result = this.response;
                    $('#infoMsg').css('display', 'none');
                  // $('#warnningMessage').css('display', 'none');
                    // alert (this.response);
                     //alert(req.getResponseHeader('DetailMessage'));
                   //  var warrning_Message  = "<p>Detail Site data has already been assigned manually, or via a previous Bulk Upload. If you proceed, then any Site referenced in the workbook that is already in CID, will first be completed deleted from CID, with no possibility to recover the related data. Those Site(s) will then be re-created based on the workbook values here. <br><br>Are you sure you want to continue with this upload and potentially override existing Site data? [B1035]</P>";
                     var warrning_Message  = filter_BulkMessageArray("M12" , "en");
                     console.log (warrning_Message);
                     debugger;
                     if ( Language != 'en-US' &&  Language != 'en')
                     {
                         // warrning_Message  = "<p>Les données détaillées du site ont déjà été attribuées manuellement ou via un précédent chargement en bloc. Si vous continuez, tout site référencé dans le classeur qui est déjà dans CID sera d'abord complètement supprimé de CID, sans possibilité de récupérer les données associées. Ces sites seront ensuite recréés en fonction des valeurs du classeur ici. <br><br>Voulez-vous vraiment continuer avec ce téléchargement et éventuellement remplacer les données existantes du site ? [B1035] </P>";
                           warrning_Message  = filter_BulkMessageArray("M12" , "fr");

                     }

                     var NumberOfSiteswithRequirementLevel = req.getResponseHeader('NumberOfSitesWithRequirementLevel');

                     if (NumberOfSiteswithRequirementLevel > 0)
                     {
                          confirmDialog(warrning_Message, (ans) => {
                            if (ans) {
                               // console.log("Yes");
                               // Call_Check_User_Response_flow(newrecordid , 'yes' , '' , Language);
                               //********call Confirmation Message to proceed*****************************
                                 var result = this.response;
                    confirmDialog(result, (ans) => {
                            if (ans) {
                               // console.log("Yes");

                                Call_Check_User_Response_flow(newrecordid , 'yes' , '' , Language , "Y" , "Note - Bulk Site Registration Upload: CID Site data already exists. User chose to proceed with the upload and in doing so they may potentially override existing Site data. [B1008]-Yes");

                                }else {
                                 Call_Check_User_Response_flow(newrecordid , 'No' , '' , Language , "Y", "Error - Bulk Site Registration Upload: CID Site data already exists. User chose not to proceed with the upload. [B1035]-No");
                                //console.log("No");
                            }
                            });
                            //*****************************************************************************

                                }
                                else {
                                     Call_Check_User_Response_flow(newrecordid , 'NoDelete' , '' , Language , "Y", "Error - Bulk Site Registration Upload: CID Site data already exists. User chose not to proceed with the upload. [B1035]-No");

                               var   responseMessageaftercancel="<p>Initial request for Bulk Upload is now complete based on an early cancellation. <br>" +
                                  "The original request to bulk upload sites is cancelled. Please proceed with the remainder of the Registration process.</p>";
             if ( Lang != 'en-US' && Lang != 'en')
            {
                 responseMessageaftercancel="<p>La demande initiale de transfert groupé est maintenant terminée en raison d'une annulation anticipée. <br>" +
                  "La demande initiale de sites de téléchargement groupé est annulée. Veuillez poursuivre le reste du processus d'inscription.</p>";
                                 //Call_Check_User_Response_flow(newrecordid , 'No' , '' , Language);
                                //console.log("No");
                            }

                             $('#infoMsg').css('display', 'block');
                              $('#infoMsg').html(responseMessageaftercancel);
                              Enabled_all_Buttons();

                                }
                            });
                     }

                    else
                    {
                    var result = this.response;
                    confirmDialog(result, (ans) => {
                            if (ans) {
                               // console.log("Yes");
                                Call_Check_User_Response_flow(newrecordid , 'yes' , '' , Language,"N","");

                                }else {
                                 Call_Check_User_Response_flow(newrecordid , 'No' , '' , Language,"N" , "");
                                //console.log("No");
                            }
                            });
                    }//end else
                }
                else if (this.status === 402) {

                 $('#ErrorMessageDiv').css('display', 'none');
                  $('#warnningMessage').css('display', 'none');
               // alert ("Uploaded List did not pass validation, please check the errors list.");
              // alert (this.response) ;
                    var result = 
                    //this.response;
                    $('<textarea />').html(this.response).text();

                     $('#ErrorMessageDiv').css('display', 'block');
                     $('#ErrorMessageDiv').html("<h3>Error</h3> <p>" +  result + "</p>");
                     Enabled_all_Buttons();

                       //document.getElementById("errortable").innerHTML = result;

                } else {

                  // $('#warnningMessage').css('display', 'none');
                  $('#ErrorMessageDiv').css('display', 'none');
                    var result = this.response;
                     $('#ErrorMessageDiv').css('display', 'block');
                     $('#ErrorMessageDiv').html("<h3>Error</h3> <p>" +  result + "</p>");
                     Enabled_all_Buttons();

                 //   alert(result);
                       // window.location.replace("~/Bulk_Site_Upload");
                }
            }
        }
        req.send(acupdate);
    }//end if
    else{
        $('#processingMsg').css('display', 'none');
    }
    }//end function

function confirmDialog(message, handler)
{

        $(`<section class="wb-lbx modal-dialog modal-content overlay-def" id="myModal">
            <header class="modal-header">
                <h2 class="modal-title">CID Portal</h2>
            </header>
            <div class="modal-body">
                ${message}

            </div>
        <div class="modal-footer">
            <button id="btnYes" type="button" class="btn btn-sm btn-primary pull-left popup-modal-dismiss">Yes</button>
            <button  id="btnNo" type="button" class="btn btn-sm btn-primary pull-left popup-modal-dismiss" data-dismiss="modal">No</button>

        </section>
        `).appendTo('body');

       $('#btnNo').focus();

       $("#myModal").css('top' , '15%');
        $("#myModal").css('left' , '40%');
        $("#myModal").css('position', 'fixed');
        $("#myModal").css('z-index', '9999');


    $("#btnYes").click(function () {
           // handler(true);
          //  $("#myModal").modal("hide");
          $("#myModal").remove();
           handler(true);
        });

        //Pass false to callback function
        $("#btnNo").click(function () {

            //handler(lse);
            $("#myModal").remove();
             handler(false);
        });
    
}

//popu message
function Popup_Message(message, handler)
{

        $(`<section class="wb-lbx modal-dialog modal-content overlay-def" id="myModal">
            <header class="modal-header">
                <h2 class="modal-title">CID Portal</h2>
            </header>
            <div class="modal-body">
                ${message}

            </div>
        <div class="modal-footer">
            <button id="btnYes" type="button" class="btn btn-sm btn-primary pull-left popup-modal-dismiss">Ok</button>
            
        </section>
        `).appendTo('body');

       //$('#btnNo').focus();

       $("#myModal").css('top' , '25%');
        $("#myModal").css('left' , '40%');
        $("#myModal").css('position', 'fixed');
        $("#myModal").css('z-index', '9999');


    $("#btnYes").click(function () {
           // handler(true);
          //  $("#myModal").modal("hide");
          $("#myModal").remove();
           handler(true);
        });

        //Pass false to callback function
      //  $("#btnNo").click(function () {
            //handler(lse);
           // $("#myModal").remove();
          //   handler(false);
        //});
    
}



function decode (str)
{
       return str.replace(/&#(\d+);/g, function(match, dec) {
				return String.fromCharCode(dec);
			});
}




 function  ReadBulkMessagesFile() {
   
    var messageList ;
    var url = window.document.URL;
    url = url.replace("https://", "");
    var index1 = url.indexOf("/");
    var file = "https://" + url.substring(0, index1);
     file += "/BulkUpload_Messages";
     
    fetch(file)
        .then(response => {
            return response.json();
        })
         .then(jsondata =>(storeMessageListInSession(jsondata)));
  }

function storeMessageListInSession(data)
{
    //store messages in session
   sessionStorage.setItem('MessagesJsonArray',JSON.stringify(data));
}

  function  Download_ExcelTemplate (TemplateLanguage)
{
        //hid any error or validation div
        $("Div.validation-summary").css('display', 'none');
        $("Div.alert").css('display', 'none');
          //get language
        var langcode = '{{languagecode}}'  ;
      
        var downloadMessage ='<p>Downloading the custom Site Bulk Upload template.  Please wait a moment...</p>';
       // '<p>The custom Site Bulk Upload Excel workbook is being downloaded …</p>' ;
        var DownloadMessageCompleted =  '<p>Download completed.</p>';
      if (langcode != "en-US" && langcode != "en")
      {
          downloadMessage = "<p>Téléchargement du modèle de téléchargement en masse de site personnalisé. Patientez s'il-vous-plait...</p>";
          //"<p>Le classeur Excel personnalisé de téléchargement en masse du site est en cours de téléchargement…</p>"
         DownloadMessageCompleted  = '<p>Téléchargement terminé.</p>' ;
      }

    // check upload type by page partial url
      var Page_Partial_URL = '{{page.adx_partialurl}}';
      var UploadType = "" ;
      if (Page_Partial_URL ==  "Bulk_Site_Upload")
      {

      UploadType = "Initial";

      }
      else
      {

       UploadType = "Update";
      }
       $('#infoMsg').css('display', 'block');
       $('#infoMsg').html(downloadMessage );


      var companyid = '{{parentid}}';


     //flow paramater
     var flowparamaters =
        '{ "accountid": "' + companyid + '",'  + '"Language": "' + TemplateLanguage + '" , "UiLanguage":"'+ langcode+'" , "UploadType" : "' + UploadType + '" }';

      var req = new XMLHttpRequest();
      var url = '{{download_flow_URL}}';
      console.log(url);
      req.open("POST", url, true);
      req.setRequestHeader('Content-Type', 'application/json');
      req.onreadystatechange = function() {
      
      
        if (this.readyState === 4) {
            //req.onreadystatechange = null;
              console.log(req.getResponseHeader('location'));

           //asyncronous check       
           if (this.status === 202)
           {
               //async flow response call will retrun location header to get the result
               if (req.getResponseHeader('location') != null)
               {
                   var locationheader =  req.getResponseHeader('location') ;
               //call function to get location header result
                  setTimeout(Get_Location_Header (locationheader), 3000); 
                  
               }

           } 
          req.onreadystatechange = null;
          if (this.status === 200) {
           $('#infoMsg').html(DownloadMessageCompleted );
          
            var result = this.response;
                      
          //assign result to noteid intially
           var SeperatorIndex =   result.indexOf("|");
            var  NoteGUID = result.substring(0, SeperatorIndex ).trim();
         
       
           
         if (req.getResponseHeader('RootMessag') != null && req.getResponseHeader('RootMessag') != "")
         {
            
              NoteGUID = result.substring(0, SeperatorIndex ).trim();
            
               var rootMessage = result.substring( SeperatorIndex + 1); 
              $('#infoMsg').html("<p>" + DownloadMessageCompleted +  "</p> <br> <p>"+ rootMessage
          
              + "</p>");
         }
            
        //  $('<textarea/>').text(req.getResponseHeader('RootMessag')).html();
    
           //annotation url
            var fileattachementURL = "~/_entity/annotation/"  + NoteGUID;
                  //download the file from the url
            window.location.replace(fileattachementURL);
            //enabled button
            Enable_Button('btn_attachfile_and_scan');
            Enable_Button('linkdownload_English');
            Enable_Button('linkdownload_French');
            Enable_Button('btn_Previous');
          } else {
              $('#processingMsg').text("Download was not completed due to system issue, please contact system support");
            var result = this.response;
           Enable_Button('btn_attachfile_and_scan');
            Enable_Button('linkdownload_English');
            Enable_Button('linkdownload_French');
            Enable_Button('btn_Previous');
          }
        }
      }
      req.send(flowparamaters);

}

//disable button. pass button id to the function
function Disable_Button (buttonID)
{
    document.getElementById(buttonID).disabled = true;
}
//enable button. pass button id to the function
function Enable_Button (buttonID)
{
    document.getElementById(buttonID).disabled = false;
}
//diable all buttons in the form
function Disable_all_Buttons()
{
      
       //check if page for initial registeration
        var Page_Partial_URL = '{{page.adx_partialurl}}';
       
        if (Page_Partial_URL ==  "Bulk_Site_Upload")
        {
          
            Disable_Button('btn_Previous');
            Disable_Button('btn_Next');
        }
      
      
      Disable_Button('btn_attachfile_and_scan');
      
      Disable_Button('linkdownload_English');
      Disable_Button('linkdownload_French');
}

//diable all buttons in the form
function Enabled_all_Buttons()
{
     //check if page for initial registeration
        var Page_Partial_URL = '{{page.adx_partialurl}}';
        if (Page_Partial_URL ==  "Bulk_Site_Upload")
        {
          Enable_Button('btn_Previous');
          Enable_Button('btn_Next');
           $('#Div_btn_next').tooltip('hide')
            .attr('data-original-title', 'Next');
        }

      Enable_Button('btn_attachfile_and_scan');
      Enable_Button('linkdownload_English');
      Enable_Button('linkdownload_French');
      //hideTooltip();

     

      /* $('#Div_btn_next'#Div_btn_next').tooltip({
                 trigger: 'hover',
                   placement: 'right',
                   container: 'body',
                   title : "Next"
                    });*/
}

function filter_BulkMessageArray(id , lang)
{ 
    debugger ;
     const messageList =JSON.parse( sessionStorage.getItem('MessagesJsonArray'));
     const BMessage = messageList.filter(x =>x["id"]== id ) ;
     var responseMessage = "<p>" + BMessage[0]["Eng-Message"] + "[" + BMessage[0]["code"] + "] </p>" ;

 if (lang != "en")
   { 
       responseMessage = "<p>" + BMessage[0]["Fr-Message"] + "[" + BMessage[0]["code"] + "] </p>";
   }
   console.log (responseMessage);
   debugger;
   return responseMessage ;
}

async function Get_Location_Header(url)
{
    //delay execution for 30 seconds
   await delay(30000);
   
   var req2 = new XMLHttpRequest();
                    req2.open("Get", url);
                    req2.setRequestHeader('Content-Type', 'application/json');
                    
                    req2.onreadystatechange = function() {
                         if (this.readyState === 4) {
                            // req2.onreadystatechange = null;
                            
                             console.log("inside request 2");
                             console.log(this.status);
                             //console.log (this.responseText); 

                            //check if location call returned 200     
                            if (this.status === 200)
                            {
                                console.log("200 status")
                                
                                //get seperator char index to split NoteID and Message
                                    var SeperatorIndex =   this.responseText.indexOf("|");
                                    var Reponse_Length = this.responseText.length;

                                    var  NoteGUID = this.responseText.substring(0, SeperatorIndex ).trim();
                                    var fileattachementURL = "~/_entity/annotation/"  + NoteGUID;
                                    //download the file from the url
                                   window.location.replace(fileattachementURL);
                                   console.log (this.responseText);
                                   console.log ("reponse Length : " + Reponse_Length);
                                   var langcode = '{{languagecode}}'  ;
      
                                    var downloadMessage ='<p>Downloading the custom Site Bulk Upload template.  Please wait a moment...</p>';
                                // '<p>The custom Site Bulk Upload Excel workbook is being downloaded …</p>' ;
                                    var DownloadMessageCompleted =  '<p>Download completed.</p>';
                                if (langcode != "en-US" && langcode != "en")
                                {
                                    downloadMessage = "<p>Téléchargement du modèle de téléchargement en masse de site personnalisé. Patientez s'il-vous-plait...</p>";
                                    //"<p>Le classeur Excel personnalisé de téléchargement en masse du site est en cours de téléchargement…</p>"
                                    DownloadMessageCompleted  = '<p>Téléchargement terminé.</p>' ;
                                }//end check language
                                console.log("Index of  I " + this.responseText.indexOf("|"));
                                $('#infoMsg').html(DownloadMessageCompleted );
                               if (this.responseText.indexOf("|") != (Reponse_Length -1) )
                                {
            
                                  // NoteGUID = result.substring(0, SeperatorIndex ).trim();

                                    //get root message from the text from flow retruned text 
                                    var rootMessage = this.responseText.substring( SeperatorIndex + 1);

                                    $('#infoMsg').html("<p>" + DownloadMessageCompleted +  "</p> <br> <p>"+ rootMessage
                                
                                    + "</p>");
                                }
                                //enable all buttons
                                Enable_Button('btn_attachfile_and_scan');
                                Enable_Button('linkdownload_English');
                                Enable_Button('linkdownload_French');
                                Enable_Button('btn_Previous');
                            }//end if status = 200
                            else{
                                

                                //call function again if returned status is not 200
                                setTimeout(Get_Location_Header (url), 400000); 
                            }//end else

                         }
                        }
                        //send request
                        req2.send();

}


function delay(milliseconds){
    return new Promise(resolve => {
        setTimeout(resolve, milliseconds);
    });
}

</script>
<div class="container ">
    <div class="container">
        {% block breadcrumbs %}
        {% include 'Breadcrumbs' %}
        {% endblock %}
        {% block title %}
        {% include 'Page Header' %}
        {% endblock %}
    </div>

    <div id="mainContent" class="row">

        <div class="col-md-12">
            {% block main %}

            <div id="processingMsg" class="alert alert-warning" role="alert"></div>
            <div id="ErrorMessageDiv" class="alert alert-danger" role="alert">  </div>
            <div id="infoMsg" class="alert alert-info"></div>



            <div class="row sectionBlockLayout" style="display: flex; flex-wrap: wrap; padding: 8px; margin: 0px; text-align: left; min-height: 100px;">
                <table>
                    <tbody>
                        <tr>
                            <td>

                                <div>
                                    <h3 class="blue_border">{{step1}}</h3>
                                    <p> </p>
                                </div>


                                <table>
                                    <tr>
                                        <td>
                                       
                                            <button type="button" id="linkdownload_English" 
                                            class="submit-btn btn btn-primary form-action-container-left" data-toggle="popover" data-content title="download">{{downloadlableEnglishversion}}</button>
                                      
                                        </td>
                                        <td> &nbsp;&nbsp;</td>
                                        <td>
                                            <button type="button" id="linkdownload_French" class="submit-btn btn btn-primary form-action-container-left">{{downloadlableFrenchVersion}}</button>
                                        </td>

                                    </tr>
                                </table>
                                <br>
            </div>
        </div>
        </td>
        </tr>
        <tr>
            <td>

                <h3 class="blue_border">{{step2}}</h3>
          
                {% if page.adx_partialurl == 'Bulk_Site_Upload' %}
                {% entityform name: 'Insert Bulk Activity Log Summary' %}
                {%else%}
                 {% entityform name: 'Insert Annual Bulk Activity Log Summary' %}
                {%endif%}

                <div>
                </div>
            </td>
        </tr>
        
        </tbody>
        </table>
        <br>
      

        {% endblock %}


    </div>
</div>
  <div id="DivNavbuttonGroup"  class="col-sm-6 clearfix"> 
        
   </div>
    </div>

</div>