<style>
    #processingMsg {
        width: 300px;
        text-align: center;
        padding: 6px 10px;
        z-index: 9999;
        top: 15%;
        left: 40%;
        position: fixed;
        -webkit-border-radius: 0 0 2px 2px;
        border-radius: 0 0 2px 2px;
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        display: none;
    }
</style>

<div class="row sectionBlockLayout" style="display: flex; flex-wrap: wrap; padding: 8px; margin: 0px; text-align: left; min-height: 100px;">
    
    {% fetchxml environment_settings %}
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
	<entity name="qm_environmentsettings">
		<attribute name="qm_environmentsettingsid" />
		<attribute name="qm_name" />
		<attribute name="createdon" />
		<attribute name="qm_value" />
		<order attribute="qm_name" descending="false" />
		<filter type="and">
			<condition attribute="qm_name" operator="like" value="%CID[_]%" />
		</filter>
	</entity>
</fetch>
{% endfetchxml %}

{% for env_setting in environment_settings.results.entities %}

{% if {{env_setting.qm_name}}  == 'CID_Upload_Excel_Flow' %}
{% assign excelload_Flow_URL = env_setting.qm_value %}

{% endif %}

{% if {{env_setting.qm_name}}  == 'CID_Bulk_Upload' %}
{% assign Bulk_flow_URL = env_setting.qm_value %}

{% endif %}

{% endfor %}

    
    <div class="container" style="display: flex; flex-wrap: wrap;">
        <div class="col-md-12 columnBlockLayout" style="display: flex; flex-direction: column;"></div>
    </div>
<div id="errortable" class="view-grid"> </div>

    <div id="processingMsg" class="alert alert-warning" role="alert">

    </div>

</div>

<script>
    $(document).ready(function () {
   
        notificationMsg.show("System is validating uploaded List ...");
 

        var URLs = new URLSearchParams(window.location.search);
        var newrecordid = URLs.get('id');
        var companyid = URLs.get('companyid');
        var acupdate =
            '{ "activityid":"' + newrecordid + '" , "name": "test second upload sites", "accountid": "' + companyid + '" }';
        var req = new XMLHttpRequest();
        var url = '{{excelload_Flow_URL}}';
        
        //"https://prod-21.canadacentral.logic.azure.com:443/workflows/1b560b6972c9486c9e8a8703c39fc8ff/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=rAQ5udszPA6NIKwMwn8EspcMsvlwgFjkVaqdRuFM8dw";
        req.open("POST", url, true);
        req.setRequestHeader('Content-Type', 'application/json');

        req.onreadystatechange = function () {

            if (this.readyState === 4) {

                req.onreadystatechange = null;
                notificationMsg.hide();
                if (this.status === 200) {
                    var result = this.response;
                    
                    var response = confirm("Validation has been completed successfully. Do you want to proceed with the upload?");
                    if (response == true) {
 var flowpramater = '{"accountid": "' + companyid + '","Filelocation":"' + result  +'","activityid":"' + newrecordid +'"}';
                    var flowurl = '{{Bulk_flow_URL}}';
                    //"https://prod-04.canadacentral.logic.azure.com:443/workflows/d1f0399ee2f14c8cb5f97b7a3d980e18/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=HodXII8arm-pmLQA-zKLiafDncFzFfLLsbpdOXkNd-Y";
                      
                        callworkflow(flowurl, flowpramater);
                    }
                    else {
                        window.location.replace("~/Bulk_Site_Upload");

                    }
                    var result = this.response;


                } else if (this.status === 402) {

alert ("Uploaded List did not pass validation, please check the errors list.");
                    var result = this.response;
                

                       document.getElementById("errortable").innerHTML = result;
                    
                } else {

                  
                    var result = this.response;
                    alert(result);
                        window.location.replace("~/Bulk_Site_Upload");
                }
            }
        }
        req.send(acupdate);
    });


  
function callworkflow(flowurl, flowparamaters) {

        var req = new XMLHttpRequest();
        var url = flowurl;
     
        notificationMsg.show("Site upload process is in-progress ...");
        req.open("POST", url, true);
        req.setRequestHeader('Content-Type', 'application/json');

        req.onreadystatechange = function () {

            if (this.readyState === 4) {

                req.onreadystatechange = null;
                notificationMsg.hide();
                if (this.status === 200) {
                    var result = this.response;
                    alert("Sites upload has been completed");

                     window.location.replace("~/Bulk_Site_Upload");




                } else if (this.status === 402) {

                    var result = this.response;
                    alert("Error " + result);

                } else {

                    
                    var result = this.response;
                    alert("Error " + result);
                }
            }
        }
        req.send(flowparamaters);
    }


    // Notification component
    var notificationMsg = (function () {
        var $processingMsgEl = $('#processingMsg'),
            _msg = 'Processing...',
            _stack = 0,
            _endTimeout;
        return {
            show: function (msg) {
                $processingMsgEl.text(msg || _msg);
                if (_stack === 0) {
                    clearTimeout(_endTimeout);
                    $processingMsgEl.show();
                }
                _stack++;
            },
            hide: function () {
                _stack--;
                if (_stack <= 0) {
                    _stack = 0;
                    clearTimeout(_endTimeout);
                    _endTimeout = setTimeout(function () {
                        $processingMsgEl.hide();
                    }, 500);
                }
            }
        }
    })();

</script>